<h1>
	show you the form to fill journal
</h1>


	
	<form action="/journal" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="title" placeholder="title">
					</div>
					<div class="form-group">
						<input class="form-control" type="text-area" name="description" placeholder="Write your journal">
					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-primary btn-block">Submit!</button>
					</div>
	</form>