
ul{
    display: flex;
    list-style-type: none;
    margin-left: 60vw;

}
nav > li{
    list-style-type: none;
    color: bisque;
}
a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
    
}